.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 2px 2px 2px rgba(80, 15, 15, 0.088);
    border-radius: 7px;
    background-color: white;
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
li{
    padding: 10px 20px;
    cursor: pointer;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'Vogue';
    src: url(fonts/Vogue.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background: lavenderblush
}
h1 {
    text-align: center;
    font-family: 'Vogue';
    margin-top: 17rem;
}
.foto-rechtsboven {
    width: 300px;
    position: absolute;
    top: 150px;     
    right: 10px;   
    border-radius: 15px;
    box-shadow: 0px 2px 2px 2px rgba(29, 10, 10, 0.516);

}
.fotovoorpagina {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 70px; 
    left: 0px;
    top: 10rem;
    width: 100%;

}
a {
  color: inherit;
  text-decoration: none;
}